{% extends "./inc/base.html" %}
{% block style %}
<!--<link rel="stylesheet" href="/static/js/slider/slider.css" type="text/css" />-->
<link rel="stylesheet" href="/static/admin/js/chosen/chosen.css" type="text/css" />
<link rel="stylesheet" href="/static/admin/js/datepicker/bootstrap-datetimepicker.min.css" type="text/css">
<script src="/static/admin/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <p>{{controller.meta_title}}</p>

    </header>
    <section class="scrollable wrapper">

        <div class="row">

            <div class="col-lg-12">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <form action="/admin/activity/add" class="form-horizontal" method="post"  data-validate="parsley">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 商品名称</label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input name="name" type="text" class="form-control" data-required="true">
                                        </div>
                                        <div class="col-md-12 hide">
                                            <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 名称不能为空.</span>
                                        </div>
                                    </div>
                                </div>

                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 抽奖次数</label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input name="times" type="text" class="form-control number" data-required="true">
                                        </div>
                                        <div class="col-md-12 hide">
                                            <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 次数不能为空.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 开始时间</label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input name="start_time" type="text" class="date" data-required="true" placeholder="开始时间">
                                        </div>
                                    </div>
                                </div>

                                <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 结束时间</label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input name="end_time" type="text" class="date" data-required="true" placeholder="结束时间">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动规则详情</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            {{HOOKS@adminEdit.activity_rules|safe}}
                                        </div>
                                        <div class="col-md-12 hide">
                                            <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 文件上传</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i>文件上传</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-submit">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" target-form="form-horizontal" class="btn btn-primary ajax-post">保存</button>
                                    <button type="submit" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

            </div>

        </div>
    </section>
</section>
<script>
    function selectClass(){
        var restaurant_id = $('#restaurant_id option:selected').val();
        $.ajax({
            url:'/admin/nature/getClass?id='+restaurant_id,
            type:'get',
            resultType:'json',
            success:function (res) {
                if(res.errno == 0){
                    var data = res.data.dishs;
                    var option = '';
                    console.log(data);
                    for(var i in data){
                        var dish = data[i];
                        option += '<option value="'+dish.id+'">'+dish.name+'</option>';
                    }
                    var $option = $(option);
                    $('#dish_class').append($option);
                }
            },
            fail:function () {
                console.log('参数错误');
                toastr.error('参数错误');
            }
        })
    };

    $(function () {
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd HH:ii:ss',
            language: "zh-CN",
            minView: 2,
            autoclose: true
        })
    })

    window.onload = function () {
        var addButton = document.getElementById('add');
        addButton.onclick = function () {
            var oDiv = document.createElement('div');
            oDiv.innerHTML = '<input type="text" />';
            document.body.appendChild(oDiv);
        }
    };
</script>
{% endblock %}

{% block script %}
<!-- slider -->
<!--<script src="/static/js/slider/bootstrap-slider.js"></script>-->
<!-- file input -->
<script src="/static/admin/js/chosen/chosen.jquery.min.js"></script>
<script src="/static/admin/js/file-input/bootstrap-filestyle.min.js"></script>
<script src="/static/admin/js/parsley/parsley.min.js"></script>
<script src="/static/admin/js/parsley/parsley.extend.js"></script>
<script src="/static/admin/js/datepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/static/admin/js/datepicker/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
{% endblock %}
