<div class="modal-dialog ">
    <form method="post" class="form-horizontal" action="/admin/deliver/edit" data-validate="parsley">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{controller.meta_title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <input type="text" name="deliver_name" value="{{data.deliver_name}}" class="input-sm form-control" placeholder="姓名" data-required="true">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 送餐员姓名</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">电话</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <input type="text" name="deliver_tel" value="{{data.deliver_tel}}" class="input-sm form-control number" placeholder="联系方式" data-required="true">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 联系方式</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">家庭住址</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <input type="text" name="home_addr" value="{{data.home_addr}}" class="input-sm form-control" placeholder="家庭住址" data-required="true" maxlength="15">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i>家庭住址</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否默认</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="0" name="is_default" {% if data.is_default == 0 %} checked {%endif%}>
                                    <i></i>
                                    是
                                </label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="1" name="is_default" {% if data.is_default == 1 %} checked {%endif%}>
                                    <i></i>
                                    否
                                </label>
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i>默认送餐员</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" value="{{data.id}}">
                <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>
                <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
