<div class="modal-dialog" style="width: 58mm;">
    <div class="modal-content" style="padding: 10px;">
        <style>
            h2,h3{
                margin: 0;
                line-height: 1.5;
            }
            table{
                text-align: left;
                width: 100%;
            }
        </style>
        <div class="print-div" id="print_div" style="width: 50mm;text-align: center;color: #000;">
            <h4 class="print-title" style="margin: 0;">{{data.title}}<span style="float: right;font-size: 5px;">存根</span></h4>
            <p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">下单时间:{{data.order_time|dateformat('Y-m-d H:i:s')}}</p>
            <table width="45mm" style="width: 100%">
                <thead >
                <tr>
                    <th style="text-align: left;width: 15mm">菜名</th>
                    <th style="text-align: left;width: 8mm">数量</th>
                    <th style="text-align: left;width: 8mm">单价</th>
                    <th style="text-align: left;width: 9mm">小计</th>
                </tr>
                </thead>
                <tbody class="tbody-border" style="border-top:#000000 2px dashed;border-bottom: #000000 2px dashed;width: 45mm;">
                {%set num = 0%}
                {%set amount = 0%}
                {% for item in data.goodsList %}
                <tr>
                    <td style="text-align: left;width: 15mm; font-size: 1px;">{{item.title}}</td>
                    <td style="text-align: left;width: 8mm; font-size: 1px;">{{item.num}}
                        {%set num = item.num + num%}</td>
                    <td style="text-align: left;width: 8mm; font-size: 1px;">{{item.unit_price|formatCurrency}}</td>
                    <td style="text-align: left;width: 9mm; font-size: 1px;">{{item.total_price|formatCurrency}}
                        {%set amount = item.total_price + amount%}
                    </td>
                </tr>
                {%endfor%}
                </tbody>
                <tfoot style="width: 45mm;">
                <tr class="plan-border">
                    <th style="text-align: left;width: 15mm">小计</th>
                    <th style="text-align: left;width: 8mm">{{num}}</th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{amount|formatCurrency}}</th>
                </tr>
                <tr class="send-border">
                    <th style="text-align: left;width: 15mm">配送费</th>
                    <th></th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{data.sendPrice|formatCurrency}}</th>
                </tr>
                <tr class="amount-border">
                    <th style="text-align: left;width: 15mm">合计</th>
                    <th></th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{data.original_amount|formatCurrency}}</th>
                </tr>
                </tfoot>
            </table>
            <div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;"></div>
            <h4 style="text-align: left;margin: 0;">折后合计：￥{{data.amount_price}}</h4>
            <p style="text-align: left;margin: 0;">地址：{{data.address}}</p>
            <p style="text-align: left;margin: 0;">{{data.user_name}} {{data.user_tel}}</p>
            <p style="text-align: left;margin: 0;">备注:{{data.user_remark}}</p>
            <span style="font-size: 1px;">********华丽的分界线********</span>
            <h4 class="print-title" style="margin: 0;">{{data.title}}</h4>
            <h5 class="print-name" style="margin: 0;">{{data.restaurant_name}}</h5>
            <div><div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;;margin: 0;"></div>{{data.restaurant_tel}}</div>
            <div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;margin: 0;"></div>
            <p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">下单时间:{{data.order_time|dateformat('Y-m-d H:i:s')}}</p>
            <p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">预计送达:{{data.send_time|dateformat('Y-m-d H:i:s')}}</p>
            <span>**************************</span>
            <table width="45mm" style="width: 100%">
                <thead >
                <tr>
                    <th style="text-align: left;width: 15mm">菜名</th>
                    <th style="text-align: left;width: 8mm">数量</th>
                    <th style="text-align: left;width: 8mm">单价</th>
                    <th style="text-align: left;width: 9mm">小计</th>
                </tr>
                </thead>
                <tbody class="tbody-border" style="border-top:#000000 2px dashed;border-bottom: #000000 2px dashed;width: 45mm;">
                {%set num = 0%}
                {%set amount = 0%}
                {% for item in data.goodsList %}
                <tr>
                    <td style="text-align: left;width: 15mm">{{item.title}}</td>
                    <td style="text-align: left;width: 8mm">{{item.num}}
                    {%set num = item.num + num%}</td>
                    <td style="text-align: left;width: 8mm">{{item.unit_price|formatCurrency}}</td>
                    <td style="text-align: left;width: 9mm">{{item.total_price|formatCurrency}}
                        {%set amount = item.total_price + amount%}
                    </td>
                </tr>
                {%endfor%}
                </tbody>
                <tfoot style="width: 45mm;">
                <tr class="plan-border">
                    <th style="text-align: left;width: 15mm">小计</th>
                    <th style="text-align: left;width: 8mm">{{num}}</th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{amount|formatCurrency}}</th>
                </tr>
                <tr class="send-border">
                    <th style="text-align: left;width: 15mm">配送费</th>
                    <th></th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{data.sendPrice|formatCurrency}}</th>
                </tr>
                <tr>
                    <td colspan="4">####################</td>
                </tr>
                <tr class="amount-border">
                    <th style="text-align: left;width: 15mm">合计</th>
                    <th></th>
                    <th></th>
                    <th style="text-align: left;width: 9mm">{{data.original_amount|formatCurrency}}</th>
                </tr>
                </tfoot>
            </table>
            <div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;"></div>
            <h4 style="text-align: left;margin: 0;">折后合计：￥{{data.amount_price}}</h4>
            <p style="text-align: left;margin: 0;">地址：{{data.address}}</p>
            <p style="text-align: left;margin: 0;">{{data.user_name}} {{data.user_tel}}</p>
            <p style="text-align: left;margin: 0;">备注:{{data.user_remark}}</p>
            <div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;margin: 0;"></div>
        </div>


        <div class="modal-footer">
            <input type="hidden" value="{{order.id}}" name="id">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>
            <a href="javascript:;" class="btn btn-primary ajax-post" onclick="print()" target-form="form-horizontal">打印</a>
        </div>
    </div><!-- /.modal-dialog -->
</div>
<script src="/static/admin/js/jqprint/jquery-1.4.4.min.js"></script>
<script src="/static/admin/js/jqprint/jquery.jqprint-0.3.js"></script>
<!--<script src="/static/admin/js/jqprint/LodopFuncs.js"></script>-->
<!--<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>-->
    <!--<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>-->
<!--</object>-->

<script language="javascript" type="text/javascript">
    function print(){
        $("#print_div").jqprint({
            debug: false,
            importCSS: false, //将此属性改为false；直接在style中写入样式即可
            printContainer: true,
            operaSupport: false
        });
    }
        // var LODOP;//声明为全局变量
        // function print(){
        // CreateOneFormPage();
        // LODOP.PRINT();
        //
        // };
        // function CreateOneFormPage(){
        // LODOP=getLodop();
        //
        // LODOP.SET_PRINT_STYLE("FontSize",12);//打印区域的字体大小
        // LODOP.SET_PRINT_PAGESIZE(5,560,1250,"");//打印区域的整体尺寸
        // LODOP.ADD_PRINT_HTM(5,5,500,1350,document.getElementById("print").innerHTML);
    // };

    //设置打印机的名称
    // LODOP.SET_PRINTER_INDEX("TSC TTP-342E Pro");
    //打印内容
    // LODOP.PRINT_INITA(10,10,762,533,"测试demo");
    // LODOP.ADD_PRINT_BARCODE(71,103,164,119,"QRCode","123456789012");
    // LODOP.ADD_PRINT_TEXT(48,127,100,20,"测试demo");
    //打印预览
    // LODOP.PREVIEW();
    //打印
    // LODOP.PRINT();

</script>
