<div class="modal-dialog ">
    <form method="post" class="form-horizontal" action="/admin/recharge_amount/edit" data-validate="parsley">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{controller.meta_title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">充值金额</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <input type="text" name="recharge_amount" value="{{data.recharge_amount}}" class="input-sm form-control" placeholder="充值金额" data-required="true">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 充值金额</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">赠送金额</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <input type="text" name="donation_amount" value="{{data.donation_amount}}" class="input-sm form-control number" placeholder="赠送金额" data-required="true">
                            </div>
                            <div class="col-md-12">
                                <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 赠送金额</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 活动规则详情</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-10">
                                {{HOOKS@adminEdit@1__100.commodity_details|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <input type="hidden" name="id" value="{{data.id}}">
                <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>
                <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
