{% extends "./inc/base.html" %}
{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <ul class="nav nav-tabs pull-left">
            <li class="active"><a data-toggle="tab" href="#"><i class="fa fa-comments text-muted"></i> {{ controller.meta_title }} </a></li>
            </li>
        </ul>
    </header>

    <section class="scrollable wrapper">

        <section class="panel panel-default">
            <div class="row wrapper">
                {% if restaurant_id == 0 %}
                    <div class="col-sm-9 m-b-xs" >
                        <a href="/admin/restaurant/add" class="btn  btn-info" >新增</a>
                        <a class="btn btn-info ajax-post confirm" target-form="ids" href="/admin/restaurant/del">删除</a>
                    </div>
                {% endif %}
                <div class="col-sm-3">
                    <div class="input-group pull-right search-form">
                        <input type="text" class="input-sm form-control" name="keyword" placeholder="请输入关键字"
                               value="{{controller.get('keyword')}}">
                        <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" id="search" url="/admin/restaurant/index">搜索</button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light" data-ride="datatables">
                    <thead>
                    <tr>
                        <!--添加显示是否配送-->
                        <th><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>经营性质</th>
                        <th>联系电话</th>
                        <th>业务范围</th>
                        <th>是否配送</th>
                        <th>标准消费情况</th>
                        <th>地址</th>
                        <th>店长名称</th>
                        <th>支持支付方式</th>
                        <th>打烊/接单</th>
                        <th style="width:130px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list.data %}
                    <tr>
                        <td><label class="checkbox m-n i-checks"><input type="checkbox" class="ids" value="{{item.id}}" name="ids" ><i></i></label>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.nature_id|get_nature_name }}</td>
                        <td>{{ item.contect_tel }}</td>
                        <td>{{ item.range }}</td>
                        <td>{{ item.is_send }}</td>
                        <td>{{ item.fee_standard }}</td>
                        <td>{{ item.addr }}</td>
                        <td>{{ item.owner_name }}</td>
                        <td>{{ item.support_paytype }}</td>
                        <td>
                            <a href="javascript:void(0);" class="active" data-toggle="class" onclick="upClose({{item.is_close}},{{item.id}})">
                                {% if item.is_close == 1 %}
                                <i class="fa fa-check text-success text"></i><i class="fa fa-times text-danger text-active"></i>
                                {% else %}
                                <i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="/admin/restaurant/edit/?id={{item.id}}" class="text-info" >编辑</a>
                            <a href="/admin/restaurant/del/?ids={{item.id}}" class="text-info ajax-get confirm" >删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 text-right text-center-xs">
                        {{pagerData | safe}}
                    </div>
                </div>
            </footer>
        </section>
    </section>
</section>


{% endblock %}

{% block script %}
<script>
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });


    function upClose(close,id){

        $.ajax({
            url:"/admin/restaurant/upClose",
            data:{is_close:close,id:id},
            type:'post',
            success:function(res){
                if(res){
                    oTable.ajax.reload();
                    toastr.success('状态更新成功！')
                }else{
                    toastr.error("状态更新失败！");
                }
            }
        })
    }

</script>
{% endblock %}
