<div class="modal-dialog ">
    <form method="post" class="form-horizontal" action="/admin/user/edituser" data-validate="parsley">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">修改会员【{{user.username}}】</h4>
        </div>
        <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名称</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8 ">
                                <p class="form-control-static">{{user.username}}</p>
                            </div>

                        </div>
                    </div>
                    </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-8 ">
                            <input type="password" name="password" class="input-sm form-control" placeholder="不修改密码请留空" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-8 ">
                            <input type="password" class="input-sm form-control" placeholder="不修改密码请留空" name="repassword" >
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">邮箱</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8">-->
                            <!--<input type="text" name="email" class="form-control input-sm" data-type="email" value="{{user.email}}">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" name="mobile" class="form-control input-sm" data-type="number" value="{{user.mobile}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所属餐厅</label>

                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-8 ">
                            <select class="form-control input-sm" name="restaurant_id">
                                {%for v in restaurant%}
                                <option value="{{v.id}}" >{{v.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group is_admin_group">
                <label class="col-sm-2 control-label">管理组</label>

                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-8 ">
                            <select class="form-control " name="role_id">
                                {%for v in role%}
                                <option value="{{v.id}}" {%if v.id == roleid%} selected{%endif%}>{{v.desc}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <span class="help-block m-b-none"><span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 选择后台时才生效</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <input type="hidden" value="{{user.id}}" name="id">
            <input type="hidden" value="1" name="is_admin">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">关闭</a>
            <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
        </div>
    </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
<script>
    $(function () {

        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        //用户组选择
        $("input[name='is_admin']").on("change",function () {
            var val = $(this).val();
            console.log(val);
            if(val == 1){
                $(".is_admin_group").removeClass('hide');
            }else {
                $(".is_admin_group").addClass('hide');
            }
        })
    })
</script>
