<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-info dk {% if navxs %} nav-xs {% endif %}">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
            <i class="icon-list"></i>
        </a>
        <a href="/admin/index/index" class="navbar-brand text-lt">
            <img src="/static/admin/img/logo-white.jpg" style="font-size: 20px;width: 20px;">
            <span class="hidden-nav-xs m-l-sm">TSSCCM</span>
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
            <i class="icon-settings"></i>
        </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
        <li>
            <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
                <i class="fa fa-indent text"></i>
                <i class="fa fa-dedent text-active"></i>
            </a>
        </li>
    </ul>
    {#
    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
                <input type="text" class="form-control input-sm no-border rounded"
                       placeholder="Search songs, albums...">
            </div>
        </div>
    </form>
    #}
    <div class="navbar-right ">
        <audio src='/static/mp3/order.mp3' preload='auto' id='music' muted>
        </audio>
        <ul class="nav navbar-nav m-n hidden-xs nav-user user">
            <li class="hidden-xs">
                <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
                    <i class="icon-bell"></i>
                    <span class="badge badge-sm up bg-danger " id="total_count">{{notifications.count}}</span>
                </a>
                <section class="dropdown-menu aside-xl animated fadeInUp">
                    <section class="panel bg-white">
                        <div class="panel-heading b-light bg-light">
                            <strong>您有 <span class="" id="order_count">{{notifications.count}}</span> 订单</strong>
                        </div>
                        <div class="list-group list-group-alt" id="order_div">
                            {%for n in notifications.data%}
                            <a href="{{n.url}}" class="media list-group-item" id="order_url">
                             <span class="pull-left thumb-sm text-center">
                                <i class="fa {{n.ico}} fa-1x text-success"></i>
                            </span>
                                <span class="media-body block m-b-none" id="order_info">
                                {{n.info}}
                            </span>
                            </a>
                            {%else%}
                            <a href="#" class="media list-group-item" id="no_order">
                                <span class="media-body block m-b-none">
                                  没有订单
                                </span>
                            </a>
                            {%endfor%}
                        </div>
                    </section>
                </section>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="/admin/user/avatar" alt="...">
              </span>
                    {{userinfo.username}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight">
                    {#
                    <li>
                        <span class="arrow top"></span>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="badge bg-danger pull-right">3</span>
                            Notifications
                        </a>
                    </li>
                    <li>
                        <a href="docs.html">Help</a>
                    </li>
                    <li class="divider"></li>
                    #}

                    <li>
                        <!--<a href="/admin/public/logout" data-toggle="ajaxModal">退出登录</a>-->
                        <a href="/admin/public/logout" >退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div class="print-div" id="print-div" style="width: 50mm;text-align: center;color: #000;margin-left: -10mm;">
    <ul id="print-ul">

    </ul>
</div>
<!--<script src="/static/admin/js/jqprint/LodopFuncs.js"></script>-->
<!--<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>-->
<!--<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>-->
<!--</object>-->


<script language="javascript" type="text/javascript">
    function localRefresh() {
        var count = $('#order_count').text();
        $.ajax({
            url:'/admin/order/getorder',
            type:'post',
            dataType:'json',
            success:function (res) {
                if(res.errno === 0){
                    var data = res.data.notifications;
                    $('#total_count').text(data.count);
                    $('#order_count').text(data.count);
                    $('#order_div').empty();
                    $('#print-ul').empty();
                    if(data.count > 0){
                        var a = '';
                        a+='<a href="'+data.data.url+'" class="media list-group-item" id="order_url">';
                        a+='<span class="pull-left thumb-sm text-center">';
                        a+='<i class="fa '+data.data.ico+' fa-1x text-success"></i>';
                        a+='</span>';
                        a+='<span class="media-body block m-b-none" id="order_info">'+data.data.info;
                        a+='</span>';
                        a+='</a>';
                        var $a = $(a);
                        $('#order_div').append($a);
                        var list = res.data.list;
                        var number = 0;
                        for(var i in list){
                            var b = list[i];
                            if(b.is_print != 1){
                                number++;
                                orderPrint(b);
                                $.ajax({
                                    url:'/admin/order/printUp?id='+b.id,
                                    type:'post',
                                    dataType:'json',
                                    success:function () {
                                    }
                                });
                            }
                        }
                        if(number>0){
                            print();
                            // if(!music.play()){music.play();}//响铃
                        }
                    }else{
                        var a = '';
                        a+='<a href="#" class="media list-group-item" id="no_order">';
                        a+='<span class="media-body block m-b-none">'+'没有订单';
                        a+='</span>';
                        a+='</a>';
                        var $a = $(a);
                        $('#order_div').append($a);
                    }
                    if(data.count>0){
                        if(!music.play()){music.play();}//响铃
                    }
                }
            },
            fail:function () {

            }

        })
    }
    // TODO
    // setInterval(localRefresh,10000);

    function print(){
        $("#print-div").jqprint({
            debug: false,
            importCSS: false, //将此属性改为false；直接在style中写入样式即可
            printContainer: true,
            operaSupport: false
        });
    }
    function orderPrint(data){
        var li = '';
        li+='<li>';
        li+='<h4 class="print-title" style="margin: 0;width: 50mm;">'+data.title+'<span style="float: right;font-size: 5px;">存根'+data.print_no+'</span></h4>';
        li+='<p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">下单时间:'+ data.order_time +'</p>';
        li+='<table width="45mm" style="width: 100%">';
        li+='<thead >';
        li+='<tr>';
        li+='<th style="text-align: left;width: 15mm">菜名</th>';
        li+='<th style="text-align: left;width: 10mm">数量</th>';
        li+='<th style="text-align: left;width: 10mm">单价</th>';
        li+='<th style="text-align: left;width: 15mm">小计</th>';
        li+='</tr>';
        li+='</thead>';
        li+='<tbody class="tbody-border" style="border-top:#000000 2px dashed;border-bottom: #000000 2px dashed;width: 45mm;">';
        var num = 0;
        var amount = 0;
        for(var item in data.goodsList){
            var v = data.goodsList[item];
            li+='<tr>';
            li+='<td>'+v.title+'</td>';
            li+='<td>'+v.num+'</td>';
            num = v.num + num;
            li+='<td>'+v.unit_price+'</td>';
            li+='<td>'+v.total_price+'</td>'
            amount = v.total_price + amount;
            li+='</tr>';
        }
        li+='</tbody>';
        li+='<tfoot style="width: 45mm;">';
        li+='<tr class="plan-border">';
        li+='  <th style="text-align: left;width: 15mm">小计</th>';
        li+='  <th style="text-align: left;width: 8mm">'+num+'</th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+amount+'</th>';
        li+='</tr>';
        li+='<tr class="send-border">';
        li+='  <th style="text-align: left;width: 15mm">配送费</th>';
        li+='  <th></th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+data.sendPrice+'</th>';
        li+='</tr>';
        li+='<tr>';
        li+='  <td colspan="4" >####################</td>';
        li+='</tr>';
        li+='<tr class="amount-border">';
        li+='  <th style="text-align: left;width: 15mm">合计</th>';
        li+='  <th></th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+data.original_amount+'</th>';
        li+='</tr>';
        li+='</tfoot>';
        li+='</table>';
        li+='<h4 style="text-align: left;margin: 0;">折后合计：￥'+data.amount_price+'</h4>';
        li+='<p style="text-align: left;margin: 0;font-size: 6px;">地址：'+data.address+'</p>';
        li+='<p style="text-align: left;margin: 0;">'+data.user_name+'   '+ data.user_tel+'</p>';
        li+='<p style="text-align: left;margin: 0;">'+data.user_remark+'</p>';
        li+='<span style="font-size: 1px;">********华丽的分界线********</span>';
        li+='<h4 class="print-title" style="margin: 0;">'+data.title+'</h4>';
        li+='<h5 class="print-name" style="margin: 0;">'+data.restaurant_name+'</h5>';
        li+='<div><div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;;margin: 0;"></div>'+data.restaurant_tel+'</div>';
        li+='<div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;margin: 0;"></div>';
        li+='<p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">下单时间:'+ data.order_time +'</p>';
        // li+='<p class="print-create-time" style="text-align: left;font-size: 1px;margin: 0;">预计送达:'+data.send_time+'</p>';
        li+='<span>**************************</span>';
        li+='<table width="45mm" style="width: 100%">';
        li+='<thead >';
        li+='<tr>';
        li+='  <th style="text-align: left;width: 15mm">菜名</th>';
        li+='  <th style="text-align: left;width: 8mm">数量</th>';
        li+='  <th style="text-align: left;width: 8mm">单价</th>';
        li+='  <th style="text-align: left;width: 9mm">小计</th>';
        li+='</tr>';
        li+='</thead>';
        li+='<tbody class="tbody-border" style="border-top:#000000 2px dashed;border-bottom: #000000 2px dashed;width: 45mm;">';
        num = 0;
        amount = 0;
        for(var item in data.goodsList){
            var v = data.goodsList[item];
            li+='<tr>';
            li+='<td>'+v.title+'</td>';
            li+='<td>'+v.num+'</td>';
            num = v.num + num;
            li+='<td>'+v.unit_price+'</td>';
            li+='<td>'+v.total_price+'</td>'
            amount = v.total_price + amount;
            li+='</tr>';
        }
        li+='</tbody>';
        li+='<tfoot style="width: 45mm;">';
        li+='<tr class="plan-border">';
        li+='  <th style="text-align: left;width: 15mm">小计</th>';
        li+='  <th style="text-align: left;width: 8mm">'+num+'</th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+amount+'</th>';
        li+='</tr>';
        li+='<tr class="send-border">';
        li+='  <th style="text-align: left;width: 15mm">配送费</th>';
        li+='  <th></th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+data.sendPrice+'</th>';
        li+='</tr>';
        li+='<tr>';
        li+='  <td colspan="4">####################</td>';
        li+='</tr>';
        li+='<tr class="amount-border">';
        li+='  <th style="text-align: left;width: 15mm">合计</th>';
        li+='  <th></th>';
        li+='  <th></th>';
        li+='  <th style="text-align: left;width: 9mm">'+data.original_amount+'</th>';
        li+='</tr>';
        li+='</tfoot>';
        li+='</table>';
        li+='<div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;"></div>';
        li+='<h4 style="text-align: left;margin: 0;">折后合计：￥'+data.amount_price+'</h4>';
        li+='<p style="text-align: left;margin: 0;font-size: 6px;">地址：'+data.address+'</p>';
        li+='<p style="text-align: left;margin: 0;">'+data.user_name+'   '+ data.user_tel+'</p>';
        li+='<p style="text-align: left;margin: 0;">'+data.user_remark+'</p>';
        li+='<div class="print-dotted" style="width:100%;height:0;border-bottom:#000000 2px dashed;margin: 0;"></div>';
        li+='</li>';
        var $li = $(li);
        $('#print-ul').append($li);
    }

</script>
